<!DOCTYPE html>
<html>
<head>
  <title>Upload PDF</title>
</head>
<body>
  <h2>Upload Credit Card Statement</h2>
  <form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.pdf_file.label }} {{ form.pdf_file() }} <br><br>
    {{ form.submit() }}
  </form>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for msg in messages %}
          <li>{{ msg }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</body>
</html>
